$website-width: 1100px;
$main-color: #2f558f;
$light-color: #fafcff;
$medium-color: #dfe5ed;
$dark-color: #333;


// Set text color
@function set-text-color($color) {
    @if (lightness($color) > 50) {
      @return $dark-color;
    } @else {
      @return $light-color;
    }
  }